#ifndef CONFIG_H
#define CONFIG_H

// Wi-Fi
char ssid[] = "SSID";  // Wi-Fi SSID
char password[]= "PASSWORD"; // Wi-Fi Password

// micro-ROS agent
char agent_ip_address[] = "IP_ADDRESS"; // PC IP ADDRESS
const size_t agent_port = 8888;

// topic on/off
const bool ENABLE_MOTOR = true;
const bool ENABLE_CAMERA = true;
const bool ENABLE_BATTERY = true;
const bool ENABLE_SPEECH = true;

#endif